body {
	background-color:#080808;
    color:#5fba3d;
    font-family:monospace, prestige;
}

.mainContent {
	text-align: center;
}

.log {
	background-color: #080808 !important;
	border-color: #1e1e1e;
	color: inherit;
	width: 798px;
	height: 100px;
	padding: 0;
	font-size: 10px;
	margin-bottom: 0;
	line-height: 10px;
	display: none;
}

.message {
	width: 798px;
	padding: 0 !important;
	background-color: #080808 !important;
	border-color: #1e1e1e !important;
	color: inherit !important;
	display: none;
}

canvas {
	margin-top: 8px;
}

input[type="text"] {
	display: none;
}

#UserLogin_username, #RegistrationForm_username, #UserRecoveryForm_login_or_email, #RegistrationForm_verifyCode, #RegistrationForm_email {
	display: inline;
}